flake8==4.0.1
mccabe==0.6.1
pycodestyle==2.8.0
pyflakes==2.4.0

# Deps do pytest
py==1.11.0
atomicwrites==1.4.0
tomli==2.0.0
pluggy<2.0,>=0.12
attrs==21.4.0
pyparsing!=3.0.5,>=2.0.2

#Converage
pytest-cov==3.0.0
coverage==6.3.1
codecov==2.1.12

#Mock
pytest-mock==3.5.1
packaging==20.9
-r requirements.txt